{% extends 'base.html' %}
{% block titulo %}
    producto
{% endblock %}
{% block body %}
<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Tipo de vaso</th>
        <th>Volumen</th>
        <th>Calorias</th>
        <th>Costo</th>
        <th>Rentabilidad</th>
        <th>Tipo</th>
    </tr>
    <tr>
        <td>{{producto.nombre}}</td>
        <td>${{producto.precio_publico}}</td>
        <td>{{producto.tipo_vaso}}</td>
        <td>{{producto.volumen}}</td>
        <td>{{calorias}}</td>
        <td>${{costo}}</td>
        <td>${{rentabilidad}}</td>
        <td>{{producto.tipo}}</td>
    </tr>
    <br>
</table>
    <a href="{{url_for('producto_bp.listar_productos')}}">Volver</a>
{% endblock %}