{% extends 'base.html' %}
{% block titulo %}
    Venta
{% endblock %}
{% block body %}
    <div>
        {% for producto in productos %}
        <h1>{{producto.nombre}} (${{producto.precio_publico}})</h1>
        {% endfor %}
        <br>
        <form  method="post" action="{{url_for('heladeria_bp.vender')}}">
            <input type="text" name="producto" placeholder="Ingrese el nombre de un producto" required style="width: 200px;">
            <br>
            <button type="submit" style="width: 200px;">Vender</button>
        </form>
        <br>
        <a href="{{url_for('index')}}">Volver</a>
    </div>
{% endblock %}
